@font-face {
  font-family: "Excalifont";
  src: url("./assets/fonts/Excalifont-Regular.woff2") format("woff2");
}

:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  --text-xs: 0.75rem;   /* 12px - Captions / Small labels */
  --text-sm: 0.875rem;  /* 14px - Secondary body / Table text */
  --text-base: 1rem;    /* 16px - Standard body text */
  --text-md: 1.25rem;   /* 20px - H3 / Subheadings */
  --text-lg: 1.5rem;    /* 24px - H2 / Section titles */
  --text-xl: 2.25rem;   /* 36px - H1 / Page titles */
  
  --radius-xs: 12px;
  --radius-sm: 18px;
  --radius-md: 24px;

  --main-color: black;
  --secondary-color: white;
}

button, 
input[type="button"], 
input[type="submit"], 
input[type="reset"] {
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Excalifont", sans-serif;
  color: var(--main-color);
}

.header {
  border: 3px solid var(--main-color);
  border-radius: var(--radius-sm);
  padding: var(--space-xs) var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .actions {
    display: flex;
    gap: var(--space-md);
    font-size: var(--text-lg);
  }

  .link {
    text-decoration: none;
    color: var(--main-color);
  }

  button:focus-visible {
    outline: 2px solid var(--main-color);
  }
}

.signup, .login {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-lg);

  h2 {
    padding: 0;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  input {
    font-family: "Excalifont", sans-serif;
    font-size: var(--text-md);
  }

  button {
    border: 2px solid var(--main-color);
    border-radius: var(--radius-xs);
    margin-top: var(--space-xs);
  }

  button:focus-visible {
    outline: 1px solid var(--main-color);
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0 auto;
  }
}

.profile {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-lg);

  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  p {
    padding: 0;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-lg);
    width: 500px;
    border: 3px solid var(--main-color);
    border-radius: var(--radius-md);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: var(--space-md);
  }

  .detail {
    border: 2px solid var(--main-color);
    border-radius: var(--radius-xs);
    padding: var(--space-sm) var(--space-md);
  }

  button {
    border: 2px solid red;
    border-radius: var(--radius-xs);
    padding: var(--space-xs);
    color: red;
  }

  button:focus-visible {
    outline: 1px solid red;
  }
}